<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Diego Portillo | Business Engineer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" media="screen" href="/static/main.css" />
  <script src="https://kit.fontawesome.com/836a943e18.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico" />
</head>

<body>

  <header>
    <div class="container">
      <nav>
        <div class="nav-brand">
          <a href="index.html">
            <img src="/static/images/logo.png" alt="Diego" />
          </a>
        </div>
        <div class="burger-menu-icon">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        <ul class="nav-list">
          <li class="nav-item">
            <a href="#landing-page">
              <img src="/static/images/profile-pic.jpg" alt="Diego Portillo" class="profile-pic nav-link" />
              <span class="caption nav-link">Diego Portillo</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#about" class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a href="#services" class="nav-link">Services</a>
          </li>
          <li class="nav-item">
            <a href="#projects" class="nav-link">Projects</a>
          </li>
          <li class="nav-item">
            <a href="#contact" class="nav-link">Contact</a>
          </li>
          <li class="nav-item">
            <a href="https://www.linkedin.com/in/diego-portillo-b68b881b5?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BbynoAPgSTvGLR2lr4GQrGQ%3D%3D" target="_blank" class="nav-link">
              <i class="fab fa-youtube"></i>
            </a>
            <a href="https://www.facebook.com/diego.velasquez.3701779" target="_blank" class="nav-link">
              <i class="fab fa-dev"></i>
            </a>
            <a href="https://twitter.com/portillo_diego3" target="_blank" class="nav-link">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <div class="cta">
            <a href="#" target="_blank" class="btn nav-link">Buy Me Coffee</a>
          </div>
        </ul>
      </nav>
    </div>
  </header>

  <main>

    <section id="landing-page" class="landing-page">
      <div class="container">
        <div class="main-message">
          <h2>Diego Portillo</h2>
          <h3 style="font-size: 3rem;">{Business Engineer}</h3>
          <p>Html . CSS . JavaScript . Python . SQL . Transact SQL . Java</p>
          <div class="intro-btn">
            <div class="cta">
              <a href="#contact" class="btn">Get In Touch</a>
            </div>
            <div class="cta">
              <a href="#projects" class="btn">My Projects</a>
            </div>
          </div>
          <div>
            <a href="#about" class="scroll-down">
              <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </section>


    <section id="about" class="about">
      <div class="container">
        <div class="about-img">
          <img src="/static/images/profile-pic.jpg" alt="Diego Portillo" class="about-pic" />
        </div>
        <div class="about-text-box">
          <h2>Hallo zusammen 👋🏽</h2>
          <p>
            Hello, I am Diego Portillo and I am 20 years old. I am currently 
            studying my 3rd year in the "Escuela Superior de Economía y Negocios" 
            abbreviated ESEN. I am trilingual. Ich spreche Spanisch, Englisch 
            und Deutsch. Aber meine Muttersprache ist Spanisch.
          </p>
          <p>
            Actualmente, soy miembro de la junta directiva del Consejo Estudiantil 
            de la ESEN como Director de Finanzas y representante de tercer año de 
            mi carrera, Ingeniería de Negocios.
          </p>
          <p>
            A manera personal, me gusta jugar baloncesto, fútbol, tenis, volleybol. 
            Practico Ciclismo de Montaña y Crossfit. Soy un <i>motivational speaker</i>. 
            Una de mis frases favoritas es: "Importa más estar dispuesto que estar 
            preparado."
          </p>
        </div>
      </div>
      <hr />
    </section>

    <section id="services" class="services">
      <div class="container">
        <div class="title-heading">
          <h2>AUTOMATE YOUR BUSINESS</h2>
          <p>
            I will help you create a remarkable well-standing business
          </p>
        </div>
        <div class="service-tiers">
          <div class="tier-item">
            <i class="fa fa-code" aria-hidden="true"></i>
            <h2>Business Enhancer</h2>
            <p>
              The best businesses are those that are self-managed.
              It means that you don't have to manage everything
              in order for the business to be alive. You must work hard 
              and smart for some time and build-up a team that is 
              capable to keep the business alive, well and in 
              continuous improvement. EVEN IF YOU ARE NOT AROUND.
            </p>
          </div>
          <div class="tier-item">
            <i class="fa fa-mobile" aria-hidden="true"></i>
            <h2>Real State Investor Adviser</h2>
            <p>
              The Real State market is one of the hardest ones to 
              be into, since the prices listed of the properties on 
              the market are, as expected, high. However, what if I
              told you there is a way for you to succeed in this 
              high-profit market? If you're interested, contact me. 
            </p>
          </div>
          <!-- 
                <div class="tier-item">
                  <i class="fa fa-file-code-o" aria-hidden="true"></i>
                  <h2>PSD to HTML</h2>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem
                    quasi earum, debitis exercitationem quod labore quae, saepe
                    voluptatum fugiat placeat iste, numquam maxime? Aliquam
                    explicabo, reiciendis corrupti voluptatum eum esse?
                  </p>
                </div>
                -->
        </div>
      </div>
      <hr />
    </section>

    <section id="projects" class="projects">
      <div class="title-heading">
        <h2>PROJECTS</h2>
        <p>these are some of my recent projects</p>
      </div>
      <div class="project-item">
        <div class="project-img has-margin-right">
          <img src="/static/images/sppms.png" />
        </div>
        <div class="project-description">
          <h2>Project Progress Management System</h2>
          <p>
            This is a system for monitoring projects' progress of final year
            students. It have three levels of users i.e Students, Supervisors
            and the Project Coordinator. Each user have a specific role in the
            system. Students have the lowest privilege. I developed this
            system using React, Redux and Firebase. I leave you a code from one of my 
            colleagues.
          </p>
          <a href="https://github.com/formapro/pvm" class="project-link" target="_blank"><i class="fa fa-github" aria-hidden="true"> View Code</i></a>
        </div>
      </div>

      <div class="project-item">
        <div class="project-description has-margin-right">
          <h2>Airbnb Project</h2>
          <p>
            This is a simulation of one of the best rated apps in the 
            "for rent" businesses. It works with the most important processes 
            of the actual page including searching a residence by country, 
            book 'em, register yourself for amazing experiences by 
            just one-click away. Take a look of what my colleagues and I
            worked in for several months.
          </p>
          <a href="https://github.com/DAP-web/AirbnbProyect" class="project-link" target="_blank"><i class="fa fa-github" aria-hidden="true"> View Code</i></a>
        </div>
        <div class="project-img">
          <img src="/static/images/airbnb.png" style="width: 85%;height:fit-content" />
        </div>
      </div>

      <div class="project-item">
        <div class="project-img has-margin-right">
          <img src="/static/images/simulation.png" />
        </div>
        <div class="project-description">
          <h2>Restaurant simulator system</h2>
          <p>
            This other one is the simulator of the optimal 
            functionality of the processes within a 
            Restaurant. Have you ever gone to a restaurant 
            and received a bad service? Of course, we all have. 
            Not with all of the restaurants using this system.
          </p>
          <a href="https://github.com/DAP-web/FreyaBD" class="project-link" target="_blank"><i class="fa fa-github" aria-hidden="true"> View Code</i></a>
        </div>
      </div>
      <hr />
    </section>


    <section id="contact" class="contact">
      <h2>Get In Touch</h2>
      <p>
        I'd love if you reached out to me. Even if it's just to say "Hey!".
        Don't hesitate! Drop me a line and I’ll get back to you ASAP!
      </p>
      <p>
        <i>"Your steps don't need to be big, they just need to be in the right direction"</i>
      </p>
      <div class="container">
        <p>
          <a href="mailto:die.portillo01@gmail.com"><i class="fas fa-envelope-open"></i> die.portillo01@gmail.com</a>
        </p>
        <p>
          <a href="https://www.linkedin.com/in/diego-portillo-b68b881b5?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BbynoAPgSTvGLR2lr4GQrGQ%3D%3D" target="_blank"><i class="fab fa-youtube"> Linkedin</i></a>
        </p>
        <p>
          <a href="https://www.facebook.com/diego.velasquez.3701779" target="_blank"><i class="fab fa-dev"> Facebook</i></a>
        </p>
        <p>
          <a href="https://twitter.com/portillo_diego3" target="_blank"><i class="fab fa-twitter"> Twitter</i></a>
        </p>
      </div>
      <hr />
    </section>

    <footer>
      <div class="footer-nav">
        <a href="#landing-page" class="footer-nav-link">Home</a>
        <a href="#about" class="footer-nav-link">About</a>
        <a href="#services" class="footer-nav-link">Services</a>
        <a href="#projects" class="footer-nav-link">Projects</a>
        <a href="#contact" class="footer-nav-link">Contact</a>
      </div>
      <div class="footer-coded-by">
        <p>
          <i class="fas fa-code"></i> with 💛 by Diego Portillo &copy; 2021
        </p>
        <p>Built with pure HTML, CSS and JavaScript</p>
      </div>
      <div class="footer-social">
        <a href="https://www.linkedin.com/in/diego-portillo-b68b881b5?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BbynoAPgSTvGLR2lr4GQrGQ%3D%3D" target="_blank"><i class="fab fa-youtube"></i></a>
        <a href="https://www.facebook.com/diego.velasquez.3701779" target="_blank"><i class="fab fa-dev"></i></a>
        <a href="https://twitter.com/portillo_diego3" target="_blank"><i class="fab fa-twitter"></i></a>
      </div>
    </footer>

  </main>

  <script src="/static/main.js"></script>
</body>

</html>